<!DOCTYPE html>
<html>
  <%- include('partials/head') -%>
  <body>
    <div class="home-wrapper">
      <!--Nav-->
      <%- include('header/nav') -%>
      <!--Home-->
      <%- include('sections/home') -%>
    </div>

    <!--Servicios-->
    <%- include('sections/servicios') -%>

    <!--Video-->
    <%- include('sections/video') -%>

    <!--Portafolio-->
    <%- include('sections/portafolio') -%>

    <!--Formulario-->
    <%- include('sections/form') -%>

    <!--Mapa-->
    <%- include('sections/map') -%>

    <!--Foot-->
    <%- include('partials/foot') -%>
  </body>
</html>
