<!DOCTYPE html>
<html lang="en">
  <title>Studio Dev - Profile</title>
  <%- include('partials/head') -%>
  <body>
    <div class="container">
      <nav class="navbar navbar-light bg-light">
        <h1><span class="fa fa-user"></span> Perfil</h1>
        <a href="/logout">Salir</a>
      </nav>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title">Datos</h3>
          <p>
            <strong>Id</strong>: <%= user._id %> <br />
            <strong>Nombre</strong>: <%= user.name %> <br />
            <strong>Email</strong>: <%= user.email %> <br />
            <strong>Usuario</strong>: <%= user.username %>
          </p>
        </div>
      </div>
      <div>
        <h2 class="text-center">Mensajes</h2>
        <% for(let i = 0; i < contacts.length; i++) {%>
        <div class="list-group">
          <div class="row d-flex list-group-item list-group-item-action">
            <div class="col">
              <%= contacts[i].email %>
            </div>
            <div class="text col-6">
              <%= contacts[i].message %>
            </div>
            <form action="/profile" method="POST">
              <div class="input-field text-center col">
                <input type="hidden" name="_method" value="DELETE" />
                <input type="hidden" name="id" value="<%=contacts[i]._id %>" />
                <button type="submit" class="btn btn-danger">Borrar</button>
              </div>
            </form>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
